Close connections properly

RFC 7230 section 6.6:
> If a server performs an immediate close of a TCP connection, there is a significant risk that the client will not be able to read the last HTTP response. If the server receives additional data from the client on a fully closed connection, such as another request that was sent by the client before receiving the server's response, **the server's TCP stack will send a reset packet to the client; unfortunately, the reset packet might erase the client's unacknowledged input buffers before they can be read and interpreted by the client's HTTP parser.**
> **To avoid the TCP reset problem, servers typically close a connection in stages.** First, the server performs a half-close by closing only the write side of the read/write connection. The server then continues to read from the connection until it receives a corresponding close by the client, or until the server is reasonably certain that its own TCP stack has received the client's acknowledgement of the packet(s) containing the server's last response. Finally, the server fully closes the connection.

So basically:
- on any HTTP request, once I've finished writing, I should call `shutdown(fd, SHUT_RD)`, and submit a read request
- once the read request returns 0, then call `shutdown(fd, SHUT_WR)` and `close(fd)`
Then the connection is properly closed

Me not closing connections properly is likely the reason behind the weird behaviour of my website not working consistently on mobile - a `shutdown(fd, SHUT_RDWR)` would possibly cause the client to never finish reading the sent buffers.



For non TLS, it was an issue with the NGINX configuration, removed `keepalive_timeout 0;` from the `location /` block and that fixed it